<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>书店公告</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.css" >
<script src="/mbook/public/static/JQM/jquery-1.11.1.min.js"></script>
<script src="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.js"></script>
<style type="text/css">
.snow-canvas {
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    pointer-events: none;
  }
  </style>
</head>

<body>
<div data-role="page" id="page1" style="background-image:url(/mbook/public/static/images/beijing.jpg);">
  <div data-role="header"> 
    <a href="../Index/index.html" data-ajax="false" data-role="button" data-icon="home">首页</a>
    <a href="../user/reg" data-role="button" data-icon="info" data-ajax="false">注册</a>
    <h3 id="reg"> 书店公告 </h3>
  </div>
  <div data-role="content" style="color: white">
    <div class="wrapper clearfix">
        <div class="location">
            <span>当前位置：</span>
            <a href="../index/index.html" data-ajax="false">书店首页</a>
            <em>&gt;</em>
            <span>最新公告</span>
        </div>

        <div class="notice-list">
            <ul class="clearfix">
                

                    <li>
                        <div class="link text-ellipsis fl"><i></i><a id="notice412" target="_blank" href="#">2018高考生物一轮复习系列丛书|微专题专训+重难点一本过+复习导学案</a></div>
                        <div class="view fl">浏览数：523次</div>
                        <div class="time fr">2017-11-01 13:11:21</div>
                    </li>
                
                    <li>
                        <div class="link text-ellipsis fl"><i></i><a id="notice411" target="_blank" href="#">高中语文小说阅读提升系列丛书</a></div>
                        <div class="view fl">浏览数：467次</div>
                        <div class="time fr">2017-10-30 13:53:23</div>
                    </li>
                
                    <li>
                        <div class="link text-ellipsis fl"><i></i><a id="notice410" target="_blank" href="#">新蕾10月刊 | 名校作文 · 百科探秘 · 童话王国</a></div>
                        <div class="view fl">浏览数：134次</div>
                        <div class="time fr">2017-10-30 09:14:58</div>
                    </li>
                    <li>
                        <div class="link text-ellipsis fl"><i></i><a id="notice423" target="_blank" href="#">初高中畅销书及新书大盘点（11月第2期）</a></div>
                        <div class="view fl">浏览数：284次</div>
                        <div class="time fr">2017-11-23 13:46:42</div>
                    </li>
                
                    <li>
                        <div class="link text-ellipsis fl"><i></i><a id="notice421" target="_blank" href="#">高中破题致胜微方法系列微刊（第二季）</a></div>
                        <div class="view fl">浏览数：568次</div>
                        <div class="time fr">2017-11-21 13:17:20</div>
                    </li>
                
                    <li>
                        <div class="link text-ellipsis fl"><i></i><a id="notice420" target="_blank" href="#">知识点归纳与复习系列丛书（初中篇）|语数英 物化生</a></div>
                        <div class="view fl">浏览数：615次</div>
                        <div class="time fr">2017-11-20 10:04:30</div>
                    </li>
                
                    <li>
                        <div class="link text-ellipsis fl"><i></i><a id="notice416" target="_blank" href="#">高中化学知识点归纳与知识纲要系列丛书</a></div>
                        <div class="view fl">浏览数：928次</div>
                        <div class="time fr">2017-11-09 09:48:07</div>
                    </li>
                
                    <li>
                        <div class="link text-ellipsis fl"><i></i><a id="notice415" target="_blank" href="#">年终狂欢节，购书返现送话费！</a></div>
                        <div class="view fl">浏览数：809次</div>
                        <div class="time fr">2017-11-08 13:17:02</div>
                    </li>
                
                    <li>
                        <div class="link text-ellipsis fl"><i></i><a id="notice414" target="_blank" href="#">高中化学实验学习与复习系列丛书（第2季）</a></div>
                        <div class="view fl">浏览数：388次</div>
                        <div class="time fr">2017-11-06 10:08:32</div>
                    </li>
                
                    <li>
                        <div class="link text-ellipsis fl"><i></i><a id="notice413" target="_blank" href="#">初高中畅销书及新书大盘点（11月第1期）</a></div>
                        <div class="view fl">浏览数：697次</div>
                        <div class="time fr">2017-11-02 13:28:56</div>
                    </li>
                
                    
                
                    <li>
                        <div class="link text-ellipsis fl"><i></i><a id="notice409" target="_blank" href="#">2018中考英语总复习系列丛书|语法专题 话题专题 词汇专题 作文写作</a></div>
                        <div class="view fl">浏览数：713次</div>
                        <div class="time fr">2017-10-26 13:19:40</div>
                    </li>
                
                    <li>
                        <div class="link text-ellipsis fl"><i></i><a id="notice408" target="_blank" href="#">期中复习|期中考试总动员系列丛书</a></div>
                        <div class="view fl">浏览数：2707次</div>
                        <div class="time fr">2017-10-25 16:54:00</div>
                    </li>
                
                    <li>
                        <div class="link text-ellipsis fl"><i></i><a id="notice407" target="_blank" href="#">初高中畅销书及新书大盘点（10月第2期）</a></div>
                        <div class="view fl">浏览数：825次</div>
                        <div class="time fr">2017-10-25 09:05:58</div>
                    </li>
                
            </ul>
        </div>
    </div>
	</div>
    <div class="htmleaf-container">
    
    <div class="htmleaf-content">
        <canvas class="snow-canvas" speed="1" interaction="false" size="2" count="80" opacity="0.00001" start-color="rgba(253,252,251,1)" end-color="rgba(251,252,253,0.3)" wind-power="0" image="false" width="1366" height="667"></canvas>
        <canvas class="snow-canvas" speed="3" interaction="true" size="6" count="30" start-color="rgba(253,252,251,1)" end-color="rgba(251,252,253,0.3)" opacity="0.00001" wind-power="2" image="false" width="1366" height="667"></canvas>
        <canvas class="snow-canvas" speed="3" interaction="true" size="12" count="20" wind-power="-5" image="/mbook/public/static/images/snow.png" width="1366" height="667"></canvas>
      </div>
    
  </div>
  <script src="http://www.5iweb.com.cn/statics/js/jquery.1.7.1.min.js" type="text/javascript"></script>
  <script src="/mbook/public/static/JQM/snow-plugin.js"></script>
  <script>
    $(function(){
      $(".snow-canvas").snow();
    });
  </script>
</body>
</html>
