<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>帮助中心</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.css" >
<script src="/mbook/public/static/JQM/jquery-1.11.1.min.js"></script>
<script src="/mbook/public/static/JQM/jquery.mobile-1.4.5.min.js"></script>
<style type="text/css">
.snow-canvas {
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    pointer-events: none;
  }
  </style>
</head>

<body>
<div data-role="page" style="background-image:url(/mbook/public/static/images/beijing.jpg);">
  <div data-role="header" >
    <a data-ajax="false" href="../index/index" data-role="button" data-icon="home">首页</a>
    <h1>帮助中心</h1>
  </div>
  <div data-role="content" style="color: white;">
     <ul data-role="listview"  data-inset="true" >
     <div class="help_ad_title"><a name="gwbz" id="gwbz"></a><b style="line-height:78px;text-align:center;color:#000;font-size: 38px;width: 300px;height: 80px;background:#f00;border-radius:20px;margin: left;">质量保证</b></div>
     <div class="help_ad_title"><a name="gwbz" id="gwbz"></a><b style="line-height:78px;text-align:center;color:#000;font-size: 38px;width: 300px;height: 80px;background:#f00;border-radius:20px;">售后保证</b></div>
          <p>MY BOOK坚持以 " 诚信为本 " 的经营理念，我们保证所售商品均为正品，如果您认为购买的商品是假货，并能提供相应的证明文件，我们会按照国家法律规定予以处理。MY BOOK图书网是佛山市书店的网上商城，与广州市机电书店全部连锁店享有同一商品来源，安全放心。 </p>
          <p>每天13：00之前的订单当日发货，13：00之后要次日发</p>
          <div class="help_ad_title"><a name="gwbz" id="hyzd"></a><b>什么是搜索量？</b></div>
          <p>指通过搜索行为，宝贝在搜索结果页内被展示的次数，即宝贝在买家搜索时展示给买家的次数。 </p>
          <div class="help_ad_title"><a name="gwbz" id="cjwt"></a><b>常见问题——怎样找到品质保障宝贝</b></div>
          <p> <b>通过搜索的筛选，你能找到有品质保障的宝贝。首先，输入一个关键词</b> </p><p>可点击"订单查询"输入订单号和收货人，即可看到订单的处理状态，若订单处于" 有货 " 状态时 , 我们会与您电话联系确认配送时间。 </p>
          <p> <b>为什么无法登录网站?</b></p> <p>用户不能登录网站的原因有以下几种可能：
1、登录时输入的"用户名或邮件"、"密码"有错误，这种情况请检查用户名和密码，也可以“找回密码”，重试登录</p><p>2、信用值为“0”时，不允许登录网站。进行了非法操作，一旦查实，信用值即被降为0。</p><p>3、您的浏览器没有开启cookie，无法登录！
如何启用cookie？
启用cookies,请根据您的浏览器版本按以下说明操作。
Mozilla Firefox (1.4或更高版本)
打开“工具”菜单 选择“选项” 选择面板左边的“隐私”按纽 在Cookies选项下选择“启用cookie” 单击“确定”保持设置 
Netscape 7.1/Mozilla 5.0
从“编辑”菜单中选择“个性设置” 单击“隐私和安全性”旁的按键展开该项 在“隐私和安全性”下选择“Cookie” 选择“启用所有cookie” 单击“确定” 
Microsoft Internet Explorer 6.0+ 
在工具菜单中单击“Internet选项” 单击“隐私”选项卡 在“设置”中点击“默认”按纽 (或手动将滑条调到“中”) 单击“确定”
Microsoft Internet Explorer 5.x
在工具菜单上单击“Internet选项” 单击“安全”选项卡 单击所需的 Web 内容区域，然后单击“自定义级别” 在 Cookie 下 在“允许使用存储在您计算机上的 Cookie”下单击要使用的选项，单击“确定” 在“允许使用每个对话 Cookie(未存储)”下单击所需的选项，单击“确定” 。</p>
          
          <p> <b>如果提示您发布的信息相似或者重复，有以下几种情况：</b></p> <p>1、同一账户或同一手机在一个自然天内发布的多条信息中，只变动对同一事、物的描述或根本没有任何变动的信息，一律删除。
2、一个自然天内同一张图片用来发布多条信息，保留最新发布的一张，其他图片删除。 根据《58信息质量控制规定》的相关规则，只要发布过相同或相近的信息（包括已删除信息）都不能再次发布，建议您修改信息。</p>
          <div class="help_ad_title"><a name="gwbz" id="lxkf"></a>联系客服</div>
          <p>地   址：广东省佛山市北滘镇美的总部</p>
          <p> 邮   编：050045 </p>
          <p> 客服电话：4033556360 、(0311)656982474  (024)31871588 </p>
          <p> 工作时间：周一至周日（7:00-22:00） </p>
          <p> 投诉电话：65845537 </p>
          <p> 客服QQ号：1004511748 </p>
          <p> 邮箱： 116594499.com.cn@163.com </p>
        </div>
          

     </ul>
  </div>
  <div data-role="footer" data-theme="b">
    <h1>MY BOOK</h1>
  </div>
</div>
<div class="htmleaf-container">
    
    <div class="htmleaf-content">
        <canvas class="snow-canvas" speed="1" interaction="false" size="2" count="80" opacity="0.00001" start-color="rgba(253,252,251,1)" end-color="rgba(251,252,253,0.3)" wind-power="0" image="false" width="1366" height="667"></canvas>
        <canvas class="snow-canvas" speed="3" interaction="true" size="6" count="30" start-color="rgba(253,252,251,1)" end-color="rgba(251,252,253,0.3)" opacity="0.00001" wind-power="2" image="false" width="1366" height="667"></canvas>
        <canvas class="snow-canvas" speed="3" interaction="true" size="12" count="20" wind-power="-5" image="/mbook/public/static/images/snow.png" width="1366" height="667"></canvas>
      </div>
    
  </div>
  <script src="http://www.5iweb.com.cn/statics/js/jquery.1.7.1.min.js" type="text/javascript"></script>
  <script src="/mbook/public/static/JQM/snow-plugin.js"></script>
  <script>
    $(function(){
      $(".snow-canvas").snow();
    });
  </script>
</body>
</html>
